<view title="'Chimmera'">
    <div class="bar bar-subheader item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input id="searchKey" type="search" placeholder="Search" ng-model="searchKey" autocorrect="off" >
            <button class="button button-clear" ng-click="clearSearch()">X</button>
        </label>
        <button class="button button-clear" ng-click="search()">Search</button>
    </div>
    <content has-header="true" has-subheader="true">
        <list>
            <item ng-repeat="employee in employees" href="#/employee/{{employee.id}}"  ng-if="employee.iContent > 0">
                <h2>{{employee.service}} <!-- {{employee.department}} --></h2>
                <!-- <p>{{employee.title}}</p> -->
                <p class="item-text-wrap">{{employee.content_details}}</p>
            </item>
        </list>
    </content>

</view>
