/* Your app's CSS, go crazy, make it your own */

.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}

.details {
    padding: 0px 12px 20px 12px;
}

.details img {
    float: left;
    margin-right: 12px;
}

.list {
    clear: both;
}
.video-container {
    position: relative;
    padding-bottom: 30px;
    padding-top: 30px; 
	height: auto; 
	overflow: hidden;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.videowrapper1 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
}